@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --breakpoint-sm: 375px;
    --breakpoint-lg: 1440px;

    --primary-pale-blue-color: hsl(225, 100%, 94%);
    --primary-bright-blue-color: hsl(245, 75%, 52%);
    --neutral-very-palce-blue-color: hsl(225, 100%, 98%);
    --neutral-desaturated-blue-color: hsl(224, 23%, 55%);
    --neutral-dark-blue-color: hsl(223, 47%, 23%);

    --heading-size: 1.375rem;
}



@layer base {
    * {
        @apply box-border;
    }

    body {
        @apply font-redHatDisplay bg-mobile bg-no-repeat bg-cover bg-paleBluePrimary md:bg-desktop;
    }

    h1 {
        @apply font-black;
    }
}